<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechPRO Audifonos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="contenedor-header">

        
        <div class="img-header">
            <img width="100%" src="/img/header.avif" alt="perifericos">
        </div>
        <div class="contenedor-textos">
            <p class="txt-sonido-header">Sonido Profesional</p>
            <h1>TechPRO</h1>
            <p class="txt-sobre">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore et, a, nam beatae sint sit quos unde pariatur, libero eum ab molestias tempore temporibus fugit hic est vitae quasi. Fugit?</p>
            <p class="txt-precio">Desde<span>$299</span></p>
        </div>
    </div>
    </header>

    <main>
        <section>
            <article>
                <img src="/img/icono-sonido.svg" alt="">
                <h2>GRAN SONIDO</h2>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis convallis porttitor sodales. Duis accumsan lorem neque.</p>
            </article>
            <article>
                <img src="/img/icono-garantia.svg" alt="">
                <h2>GARANTÍA DE POR VIDA</h2>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis convallis porttitor sodales. Duis accumsan lorem neque.</p>
            </article>
            <article>
                <img src="/img/icono-bateria.svg" alt="">
                <h2>+20 HORAS DE BATERIA</h2>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis convallis porttitor sodales. Duis accumsan lorem neque.</p>
            </article>
        </section>

        <section>
            <article>
                <h3>Sobre los TechPRO</h3>
                <p>Pellentesque faucibus eu turpis vel ornare. Suspendisse pellentesque ut tellus quis ullamcorper. Praesent sed mi id tortor ultrices cursus. Sed suscipit nibh nisi, vel elementum tellus lobortis sed.</p>
            </article>
            <div>
                <img src="/img/imagen-mujer.jpg" alt="">
            </div>
        </section>

        <section>
            <h3>Elige tus TechPRO</h3>
            <div>
                <div>
                    <p>TechPRO X</p>
                    <p>$299</p>
                </div>
                <img src="/img/modelo-x.svg" alt="">
            </div>
            <div>
                <div>
                    <p>TechPRO X</p>
                    <p>$399</p>
                </div>
                <img src="/img/modelo-y.svg" alt="">
            </div>
            <div>
                <div>
                    <p>TechPRO X</p>
                    <p>$499</p>
                </div>
                <img src="/img/modelo-z.svg" alt="">
            </div>
        </section>

        <section>
            <div>
                <img src="/img/newsletter.jpg" alt="">
            </div>
            <div>
                <h3>Recibe Actualizaciones</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur vitae maxime praesentium assumenda nulla consequatur illo facere ullam, debitis dolore. Aliquid a recusandae nam beatae dolor veniam et, exercitationem placeat?</p>
            </div>
            <fieldset>
                <form class="formulario">
                    <div class="input">
                        <input type="text" placeholder="Tu Email" >
                    </div>
    
                    <input type="submit" value="Inscribirme">
                </form>
            </fieldset>
        </section>
    </main>

    <footer>
        <p>TODOS LOS DERECHOS RESERVADOS</p>
    </footer>


</body>
</html>